<!DOCTYPE html>
<html>
  <head>
    <title>RubyOnRailsTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="nav-right">
        <li class="nav-item">
          <%= link_to 'Log out',  destroy_user_session_path, method: 'delete', data: { confirm: 'Are you sure?' }, class: 'nav-link'  %>
        </li>
        <li><%= link_to 'Sign in',  new_user_session_path, class: 'nav-link'  %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
